:root{
    /*max weidth of media devices*/
    --mobile:373px;
    --desktop:1440px;

    /*colour*/
    --text-blue:hsl(215, 51%, 70%);
    --text-cyan: hsl(178, 100%, 50%);
    --bg-body:hsl(217, 54%, 11%);
    --bg-card:hsl(216, 50%, 16%);
    --line:hsl(215, 32%, 27%);
    --white:hsl(0, 0%, 100%);
    
    /* font size */
    --f-size:18px;

    --f-family: 'Outfit', sans-serif;
}

/* ________nft templet start_________ */
*{
    margin: 0px;
    padding:0px ;
    cursor:default;
}

body{
    position:absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

body{
    flex-direction: column;
    background: var(--bg-body); 
    color: var(--text-blue);

    font-family: var(--f-family);
    font-size: var(--f-size);
    /* overflow: hidden; */
}
.attribution {
    font-size: .5em; text-align: center; }
.attribution a { color: hsl(0, 0%, 100%); }

.container{
background: var(--bg-card);
max-width: var(--mobile);
border-radius: 1em;
}

/* equilibrium image */
.e-img{
    width: 100%;
    border-radius: 0.4em;
}
.e-hover{
    position: absolute;
    background: rgba(0, 255, 247,0.6);
    border-radius: 0.5em;
    height: 320px;
    width: 320px;
    background-image: url(./images/icon-view.svg);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    transition: 0.5s;
}
.e-hover:hover{
    cursor: pointer;
    opacity: 1;
}

/* ___________paragraph____________ */
.paragraph h2{
    color: var(--white);
    font-weight: 600;
    padding:0px 0px 0.5em 0px;
}
h2:hover{
    cursor: pointer;
    color: var(--text-cyan);
}
.paragraph p{
    font-weight: 400;
}
.pdlist{
    padding-bottom: 1em;
    border-bottom: 2px solid var(--line);
}
ul{
    justify-content: space-between;
}
li{
    font-weight: 300;
}
li:first-child{
    color:var(--text-cyan)
}

/* _________avatar_________ */
.avatar img{
    height: 2em;
    border-radius: 100%;
    border: 2px solid var(--white);
    margin-right: 0.5em;
}
.avatar p{
    font-weight: 300;
}
.avatar p a{
    text-decoration: none;
    color: var(--white);
}
.avatar p a:hover{
    cursor: pointer;
    color:var(--text-cyan);
}


/* _________utility class___________ */
.d-flex{
    display: flex;
}
.h-center{
justify-content: center;
}
.v-center{
    align-items: center;
}
.card-section{
    margin:0.5em;
}
.card{
    margin:1em;
}
@media only screen and (max-width:373px){
.e-hover{
    display: none;
}
}